{% extends "layout.html.twig" %}

{% block javascripts %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block content %}
    <div class="d-flex flex-column">
        <div class="d-flex justify-content-end container-fluid">
            <form class="form-inline">
                <div class="form-group">
                    <select class="form-control" id="statusSelect">
                        <option value='' {{ applied == 'all' ? 'selected' : '' }}>All</option>
                        <option value='false' {{ applied == 'false' ? 'selected' : '' }}>Not Apply</option>
                        <option value='true' {{ applied == 'true' ? 'selected' : '' }}>Completed</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="titleSearchInput" placeholder="Search by keywords">
                </div>
            </form>
        </div>
        <div class="container">
            <div class="card-columns">
            {% for job in jobs %}
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">{{ job.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <a href="{{ job.company.link }}">{{ job.company }}</a>
                        </h6>
                        <p class="text-muted font-italic">{{ job.location }}</p>
                    </div>
                    <div class="d-flex flex-column card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Level: {{ job.type }}</li>
                            <li class="list-group-item">Requirement: {{ job.requirement }}</li>
                        </ul>
                        <a role="button" class="btn btn-outline-info btn-lg btn-block" href="{{ job.link }}">Job Link</a>
                        {% if job.applied %}
                            <div class="alert alert-success text-center h5" role="alert">
                                Completed
                            </div>
                        {% else %}
                            <div class="alert alert-warning text-center h5" role="alert">
                                Quickly!
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}